<markdown ngPreserveWhitespaces>


## The Angular `async` Pipe

For the exercises below, you will need to go into the `app.component.ts` and `app.component.html` files, and follow the instructions.

---

### Exercise #1

1. In the `exercise1()` method of `app.component.ts`, change the procedural assignment to the `leagues` property to a declarative assignment. Hint: no call to `subscribe()` should be present.
2. In `app.component.html`, refactor the code so it uses the `async` pipe to display the leagues.
3. Verify the leagues are still being displayed below.
4. In `app.component.ts`, clean up any code related to unsubscribing from the Observable.

---

### Results for Exercise #1

---

</markdown>

<ul *ngIf="leagues">
  <li *ngFor="let league of leagues">
    {{ league.name }}
  </li>
</ul>

<markdown ngPreserveWhitespaces>

---

### Exercise #2

1. In the `exercise2()` method of `app.component.ts`, change the procedural assignment to the `clubs` property to a declarative assignment. Hint: no call to `subscribe()` should be present.
2. In `app.component.html`, refactor the code so it uses the `async` pipe to display the clubs.
3. Verify the clubs are still being displayed below.
4. In `app.component.ts`, clean up any code related to unsubscribing from the Observable.

---

### Results for Exercise #2

---

</markdown>

<ul *ngIf="clubs">
  <li *ngFor="let club of clubs">
    {{ club.name }}
  </li>
</ul>
